<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  	<!-- Dat gi cung duoc -->
  	<servlet-name>TuDaiCa</servlet-name>
  	<!-- Ctrl va click vao neu duoc la OK -->
  	<servlet-class>Tu.DemoServlet</servlet-class>
  </servlet>
  
  <!-- Map cai ten duong dan tren trinh duyet voi class -->
  <servlet-mapping>
  	<servlet-name>TuDaiCa</servlet-name>
  	<url-pattern>/demo</url-pattern>	
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>TuDepTrai</servlet-name>
  <servlet-class>Tu.ServletConfig</servlet-class>
  <init-param>
  	<param-name>Diem</param-name>
  	<param-value>100</param-value>
  </init-param>
    <init-param>
  	<param-name>Tu</param-name>
  	<param-value>dep trai</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  	<servlet-name>TuDepTrai</servlet-name>
  	<url-pattern>/test-config2</url-pattern>	
  </servlet-mapping>
 
  
</web-app>